@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #ff0000;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground: #ededed;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --background: #181721;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
}

[data-theme='dark'] {
  /* Cores principais  */
  --primary-color: #181721;
  --secondary-color: #22202a;

  /* Cores do Roxo  */
  --purple-dark: #573fb7;
  --purple-medium: #5842b9;
  --purple-light: #6a4fd6;

  --mobile-hover: #9CA3AF;

  --border-color-principal: #ffffff;

  /* Cores de Texto  */
  --label-one: #ffffff;
  --label-secondary: #99a1af;

  /* Cores de Fundos  */
  --background: #181721;

  --sun: #ffffff;
  --moon: #2c2936;
}

[data-theme='light'] {
  --primary-color: #F4F6FB;
  --secondary-color: #F4F6FB;
  --background: #FFFFFF;

  --label-one: #000000;
  --label-secondary: #364153;

  --border-color-principal: #000000;

  --mobile-hover: #F1F3F6;

  --purple-dark: #9e86ff;
  --purple-medium: #5842b9;
  --purple-light: #6a4fd6;

  
  --sun: #ffffff;
  --moon: #2c2936;
}

@layer base {
  /* Estilização da barra de rolagem global (Chrome, Safari e Edge) */
  ::-webkit-scrollbar {
    width: 6px; /* Deixa a barra fininha como na foto */
    height: 6px; /* Para barras horizontais */
  }

  /* O "trilho" por onde a barra corre */
  ::-webkit-scrollbar-track {
    background: transparent; /* Mantém o fundo limpo */
  }

  /* A "pílula" que você arrasta */
  ::-webkit-scrollbar-thumb {
    background-color: #573FB7; /* Sua cor personalizada */
    border-radius: 20px; /* Deixa as pontas arredondadas */
    border: 1px solid transparent; /* Adiciona um pequeno respiro */
  }

  /* Efeito de hover para dar um feedback visual */
  ::-webkit-scrollbar-thumb:hover {
    background-color: #6a4fd6; 
  }

  /* Suporte para Firefox (que usa propriedades diferentes) */
  * {
    scrollbar-width: thin;
    scrollbar-color: #573FB7 transparent;
  }
}
